.sideBar{
    display: flex;
    justify-content: flex-start;
 
    height: 80px;
}


.sideBar-menu{
    background-color: bisque;
    display: flex;
    justify-content: center;
    position: fixed;
    height:100vh;
    width: 250px;
    top: 0;
    transition: 800ms;
}

.sideBar-menu.active {
    left: 0;
    transition: 300ms;
}

.sidebar-items, a{
    
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    width: 95%;
    color: black;
   
}
